@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-button-next,
.swiper-button-prev {
  color: #46e534cc !important;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 26px !important;
}

.swiper-button-next.swiper-button:disabled,
.swiper-button-prev.swiper-button:disabled {
  opacity: 0 !important;
}

/* .swiper-pagination-bullet-active {
  background-color: #46e534cc !important;
}

.swiper-pagination-bullet {
  background-color: rgba(70, 229, 52, 0.8) !important;
} */
